<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">The Poetry of Taunty Mauvais</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Read more poems from Tnaty Mauvais and purchase books online</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-12 hold">
        <div class="col-md-12 box">

          <div class="col-md-4 hidden-xs hidden-sm">
            <img src="{{portada}}" alt="Portada de Téradam">
          </div>

          <div class="col-md-8">
            <h4 class="service-title">
              <a href="#contact">De Dawg Whisperer
              </a>
            </h4>
            <div class="col-md-4 hidden-md hidden-lg">
              <img src="{{portada}}" alt="Portada de Téradam">
            </div>

            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, deserunt.
              <a href="">Amazon</a>.
              <b> Version also available for Kindle.</b>
            </p>

            <p class="poem">
              <br/> Woy yoi yoi, bacchanal in de place!!!
              <br/>Yuh hear what happen jus deh?
              <br/>Weeeell, ah ave someting to tell all yuh.
              <br/>
              <br/>De puppy getting on bad and feel he is a man
              <br/>He jump up and bite de chile!
              <br/>Mama Yo – who tell him do dat?
              <br/>
              <br/>Wicked he wicked!
              <br/>He feel he want to play?
              <br/>Well, now it is he have to pay. {{!--
              <div class="text-center col-xs-12">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  READ MORE
                </button>
              </div> --}}

              <div class="text-center col-xs-12" style="margin-top:20px;margin-bottom:20px;">
                <a class="none" href="{{buyTeradam}}">
                  <button class="btn btn-collapse pulse" type="button">
                    GET THE FULL COLLECTION
                  </button>
                </a>


              </div>







          </div>


        </div>
      </div>

      {{!--
      <div class=" col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Repeat Visit</a>
            </h4>
            <p class="service-description ">A 30 minute routine treatment. 60 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus qui alias delectus
              perferendis at, temporibus aliquam iste est dolores repellat omnis, numquam esse sit, quae sint dolorum beatae!
              Maiores, deleniti. nostrum veritatis eius dolorum excepturi fugit cupiditate.</p>
            <p id="collapse2" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Pronto</a>
            </h4>
            <p class="service-description ">A 20 minute appointment for nail care or the treatment of a single problem area ie: a corn (Note: the Pronto
              service is only offered to patients who have completed a First Visit Assessment).</p>

            <p id="collapse3" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>

          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>



      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Medi Pedi</a>
            </h4>
            <p class=" service-description ">A medical pedicure is the combining of podiatric care and a beauty treatment. The medical pedicure (“medi pedi”
              or “medicure”), is a non-invasive treatment that focuses on the hygienic and aesthetic care of toenails and
              skin. The Medi-Pedi is performed in a private medical setting...
            </p>

            <p id="collapse4" class="service-description collapse">
              and addresses unsightly and uncomfortable conditions such as:
              <strong> athlete’s foot, corns, calluses, dry, cracked heels, fungus, ingrown/overgrown toenails, nail discoloration</strong>
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Diabetic Foot Assessment</a>
            </h4>
            <p class="service-description ">A 20 minute foot assessment using ultrasound to measure the amount of blood flow to the feet; together with a
              test to check for any loss of protective sensation. A full report of the assessment is provided.</p>

            <p id="collapse5" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Nail surgery</a>
            </h4>
            <p class="service-description ">A one hour appointment to remove the whole or part of the effected toe nail. A chemical called phenol is used
              to ensure the offending portion of nail does not grow back. Nail surgery without phenalisation is also provided.
              Patients are assessed for suitability of surgery and referred to the hospital if deemed unsuitable.</p>

            <p id="collapse6" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer "></div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Verruca Treatment</a>
            </h4>
            <p class="service-description ">In this 30 minute session, liquid nitrogen and salicylic acid is used to freeze/thaw and destroy the skin cells
              affected by the verruca virus. After treatment, a sore blister will form, followed by a scab, which will detach
              7-10 days later. This usually takes 15- 20 minutes. Treatments are usually spaced a week apart.</p>
            <p id="collapse7" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">

            <h4 class="service-title ">
              <a href="#contact ">Biomechanical Assessment</a>
            </h4>
            <p class="service-description ">Examines the manor in which feet function when weight bearing and non weight bearing as well as during gait.
              This test checks for abnormalities and possible causes of pain in the foot, ankle, knees and lower back. Insoles
              or orthotics may be recommended.</p>
            <p id="collapse8" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact ">Orthotics</a>
            </h4>
            <p class="service-description ">A liner for your footwear to correct walking and reduce common biomechanical problems such as heel pain, to relieve
              stress from injured areas and provide support to overloaded joints. A wide variety of customised orthotics
              and pre-fabricated orthotics are available.</p>
            <p id="collapse9" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer "></div>



      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">Nail surgery</a>
            </h4>
            <p class="service-description ">A one hour appointment to remove the whole or part of the effected toe nail. A chemical called phenol is used
              to ensure the offending portion of nail does not grow back. Nail surgery without phenalisation is also provided.
              Patients are assessed for suitability of surgery and referred to the hospital if deemed unsuitable.</p>
            <p id="collapse10" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact ">Biomechanical Assessment</a>
            </h4>
            <p class="service-description ">Examines the manor in which feet function when weight bearing and non weight bearing as well as during gait.
              This test checks for abnormalities and possible causes of pain in the foot, ankle, knees and lower back. Insoles
              or orthotics may be recommended.</p>
            <p id="collapse11" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact ">Redressing appointments</a>
            </h4>
            <p class="service-description ">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            <p id="collapse12" class="service-description collapse">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut totam sed doloremque ea quod consequuntur laudantium
              cumque, ipsam excepturi repellendus beatae quae odio vitae aperiam quisquam provident culpa hic eum. Provident
              sunt aliquam aut possimus laboriosam officiis quos porro. Soluta mollitia ratione doloremque totam ducimus
              nobis, dolorum aspernatur dignissimos minus at optio iste dolorem fugit laudantium sed cupiditate. Maxime,
              qui.
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer "></div>

      <div class="container ">
        <div class="row ">
          <div class="col-xs-12 bottom-align-text ">
            <h5 class="cancellation ">*CANCELLATION POLICY:</h5>
            <p class="cancellation-p ">{{cancellationPolicy1}}</p>
            <p class="cancellation-p ">{{cancellationPolicy2}}</p>
            <p class="cancellation-p ">{{cancellationPolicy3}}</p>
          </div>
        </div>
      </div> --}}


    </div>




  </div>


</section>